@charset "UTF-8";
.background-set {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/******************************************************************

StyleSheet: ベーススタイル

******************************************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic Pro", "Meiryo", "Arial", sans-serif;
  letter-spacing: 0.05em;
  font-weight: 500;
}

a {
  transition: opacity 0.5s;
}
a:hover {
  opacity: 0.7;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

#container {
  min-width: 330px;
}

#main-container {
  max-width: 1200px;
  margin-inline: auto;
}

.wrap {
  margin: 0 20px;
}
@media screen and (min-width: 768px) {
  .wrap {
    width: 95%;
    margin: 0 auto;
  }
}

.text-right {
  text-align: right;
}

/********************************
 ディスプレイ用
*********************************/
.d-none {
  display: none;
}

.md-flex {
  display: none !important;
}
@media screen and (min-width: 768px) {
  .md-flex {
    display: flex !important;
  }
}

@media screen and (min-width: 768px) {
  .md-none {
    display: none !important;
  }
}

.md-block {
  display: none !important;
}
@media screen and (min-width: 768px) {
  .md-block {
    display: block !important;
  }
}

.md-inline {
  display: none !important;
}
@media screen and (min-width: 768px) {
  .md-inline {
    display: inline !important;
  }
}

@media screen and (min-width: 480px) {
  .sm-none {
    display: none !important;
  }
}

.sm-block {
  display: none !important;
}
@media screen and (min-width: 480px) {
  .sm-block {
    display: block !important;
  }
}

.sm-flex {
  display: none !important;
}
@media screen and (min-width: 480px) {
  .sm-flex {
    display: flex !important;
  }
}

/********************************
 共通クラス
*********************************/
.flex-row {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

/* font-weight */
.fw-bold {
  font-weight: 700;
}

.fw-medium {
  font-weight: 500;
}

.fw-light {
  font-weight: 300;
}

.hidden {
  visibility: hidden;
}

/********************************
 微調整
*********************************/
.ls-100 {
  letter-spacing: -0.5px;
}
@media screen and (min-width: 480px) {
  .ls-100 {
    letter-spacing: normal;
  }
}

.ls-200 {
  letter-spacing: -1px;
}
@media screen and (min-width: 480px) {
  .ls-200 {
    letter-spacing: normal;
  }
}

.ls-300 {
  letter-spacing: -1.5px;
}
@media screen and (min-width: 480px) {
  .ls-300 {
    letter-spacing: normal;
  }
}

@media screen and (min-width: 1024px) {
  .ls-400 {
    letter-spacing: -1px;
  }
}

p {
  margin-bottom: 10px;
}

th,
td {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

#payment .content h1 {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
#payment .content table {
  width: 100%;
}
#payment .content thead th:nth-child(1) {
  width: 40%;
}
#payment .content thead th:nth-child(2) {
  width: 10%;
}
#payment .content thead th:nth-child(3) {
  width: 10%;
}
#payment .content thead th:nth-child(4) {
  width: 15%;
}
#payment .content thead th:nth-child(5) {
  width: 25%;
}
#payment .content tbody tr:nth-child(1) {
  width: 40%;
}
#payment .content tbody tr:nth-child(2) {
  width: 10%;
}
#payment .content tbody tr:nth-child(3) {
  width: 10%;
}
#payment .content tbody tr:nth-child(4) {
  width: 15%;
}
#payment .content tbody tr:nth-child(5) {
  width: 25%;
}
#payment .content tfoot tr:nth-child(1) {
  width: 15%;
}
#payment .content tfoot tr:nth-child(2) {
  width: 25%;
}
#payment .content__inner {
  padding: 10% 0;
}
@media screen and (min-width: 768px) {
  #payment .content__inner {
    padding: 100px 0;
  }
}
#payment .content__wrap {
  overflow-x: scroll;
}
@media screen and (min-width: 1024px) {
  #payment .content__wrap {
    overflow: auto;
  }
}
#payment .content__wrap-inner {
  width: 250%;
}
@media screen and (min-width: 768px) {
  #payment .content__wrap-inner {
    width: 150%;
  }
}
@media screen and (min-width: 1024px) {
  #payment .content__wrap-inner {
    width: 100%;
  }
}