$cWhite: #FFFFFF;
$cBlack: #000000;

$primary_blue: #496CFF;
$primary_blue-200: #3C59D1;
$primary_blue-300: #7288E3;
$primary_blue-400: #97A1CB;

$font_main_color: #333333;

$contentMaxWidth: 1916px;
$contentMaxWidth-800: 800px;
$contentMaxWidth-1000: 1000px;
$navHeight: 79px;
$navColor: #929292;
