@use './global/' as *;
@use './parts/common';


p {
  margin-bottom: 10px;
}

th,
td {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

#payment {
  .content {
    h1 {
      font-size: 25px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 30px;
    }

    table {
      width: 100%;
    }

    thead {
      th {
        &:nth-child(1) {
          width: 40%;
        }

        &:nth-child(2) {
          width: 10%;
        }

        &:nth-child(3) {
          width: 10%;
        }

        &:nth-child(4) {
          width: 15%;
        }

        &:nth-child(5) {
          width: 25%;
        }
      }
    }

    tbody {
      tr {
        &:nth-child(1) {
          width: 40%;
        }

        &:nth-child(2) {
          width: 10%;
        }

        &:nth-child(3) {
          width: 10%;
        }

        &:nth-child(4) {
          width: 15%;
        }

        &:nth-child(5) {
          width: 25%;
        }
      }
    }

    tfoot {
      tr {
        &:nth-child(1) {
          width: 15%;
        }

        &:nth-child(2) {
          width: 25%;
        }
      }
    }

    &__inner {
      padding: 10% 0;

      @include mq(md) {
        padding: 100px 0;
      }
    }

    &__wrap {
      overflow-x: scroll;

      @include mq(lg) {
        overflow: auto;
      }

      &-inner {
        width: 250%;

        @include mq(md) {
          width: 150%;
        }

        @include mq(lg) {
          width: 100%;
        }
      }
    }

  }
}
